Source: ros-indigo-baxter-description
Section: misc
Priority: extra
Maintainer: Rethink Robotics Inc. <rsdk.support@rethinkrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://sdk.rethinkrobotics.com
Standards-Version: 3.9.2

Package: ros-indigo-baxter-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rethink-ee-description
Description: Description of Baxter Research Robot from Rethink Robotics. This package contains the URDF and meshes describing Baxter.
