Source: ros-groovy-baxter-description
Section: misc
Priority: extra
Maintainer: Rethink Robotics Inc. <rsdk.support@rethinkrobotics.com>
Build-Depends: debhelper (>= 7.0.0), ros-groovy-catkin
Homepage: http://www.rethinkrobotics.com/sdk
Standards-Version: 3.9.2

Package: ros-groovy-baxter-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Description of Baxter Research Robot from Rethink Robotics. This package contains the URDF and meshes describing Baxter.
